.news {
  .media {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.8em;

    .media-title {
      flex: 1;
      margin-right: 1.5em;

      p {
        margin: 0;
      }
    }

    time {
      white-space: nowrap;
      color: $grey-color;
      font-weight: 300;
    }

    .extra-links {
      font-weight: 300;
      font-size: 0.8em;

      a {
        &:first-child {
          margin-left: 2em;
        }

        margin-left: 1em;
      }
    }
  }
}